@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Syne&display=swap');

body {
    /* css goes here*/
    background-color:#F0E8E4 ;
    font-family: 'Syne', sans-serif;
    font-size: 25px;
    color: #26474D;
}
h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: #8A3232;
    margin-bottom: 100px;
    font-size: 75px;
}
p{
    width: 70%;
    margin: 0 auto;
}
img {
    display: block;
    width: 350px;
    margin: 0 auto;
}
a{
    color: #8A3232;
    text-decoration: none;
}
a:hover, a:active {
    color: #F0E8E4;
    background-color: #8A3232;
}
.paragraph {
    margin-bottom: 40px;
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}
.CV{
    margin-left: 30px;
    margin-right: 30px;
}